{% extends "m/base.html" %}
{% block styles %}
{{ super() }}
<link href="static/css/m/register.css" rel="stylesheet">
{% endblock %}
{% block nav %}
    {{ super() }}
    <div>
        <select id="register-type-select"></select>
    </div>
    <div>
        <input id="log-out" type="text" placeholder="Scanner niet actief">
    </div>
    <div>
        <button id="clear-list-btn" class="green">Lijst wissen</button>
    </div>
{% endblock %}
{% block main %}
    {{ super() }}
    <div id="register-list"></div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="module" src="/static/js/m/project/register.js"></script>
{% endblock %}

